<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="mediaused/font-awesome-4.2.0/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>TEST</title>
	</head>
	<body>
		<header>
			<div class="user">
				Utilisateur : <span class="username">Antecs</span> 
			</div>
			<div class="actions">
				<ul>
					<li title="Ajouter un element"><i class="fa fa-plus"></i></li>
					<li title="Suprimer un element"><i class="fa fa-minus"></i></li>
					<li class="disconnect" title="Deconexion"><i class="fa fa-unlink"></i><li>
				</ul>
			</div>
		</header>
		<aside>
			<ul>
				<li>TP n°1
					<ul>
						<li><a class="AjaxLoad" href="http://python.eliastre100.fr/ajax/load/1/1">Exo n°1</a></li>
						<li><a class="AjaxLoad" href="http://python.eliastre100.fr/ajax/load/ID_tp/Id_exo">Exo n°2</a></li>
						<li>Exo n°3</li>
					</ul>
				</li>

				<li>TP n°2
					<ul>
						<li>Exo n°1</li>
						<li>Exo n°2</li>
						<li>Exo n°3</li>
						<li>Exo n°4</li>
					</ul>
				</li>

				<li>TP n°3
					<ul>
						<li>Exo n°1</li>
						<li>Exo n°2</li>
						<li>Exo n°3</li>
						<li>Exo n°4</li>
						<li>Exo n°5</li>
					</ul>
				</li>
		</aside>
		<section>
			<h2>Exercice 2 : Aire</h2>
			<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed lectus at dolor posuere tristique. Mauris posuere viverra sapien, at mollis tortor tempus ultricies. Cras tempus et massa ac fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas in posuere lectus. Nullam tempor, sem vitae sagittis laoreet, urna urna posuere arcu, ac luctus risus nisl vitae lacus. Quisque accumsan commodo facilisis. Praesent ac velit dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse dignissim dictum quam at vehicula. Curabitur a consectetur metus. Nam lacinia porttitor dignissim. Duis ex turpis, ultricies vel sodales non, tristique ac est. Nulla elementum risus orci, in dignissim nulla rutrum cursus.<br />

			Donec dapibus lacinia neque id ultricies. Cras mattis massa id sem gravida bibendum. Vestibulum consequat sit amet magna eget porttitor. Nullam ut sapien orci. Aliquam mattis neque sit amet venenatis condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus convallis mauris ac turpis interdum, ut ultrices turpis tempor. Duis ultricies dapibus diam, a fermentum lorem malesuada quis. Vestibulum imperdiet purus sollicitudin risus egestas gravida. Nulla quis erat sed lacus consequat ultrices. In quis sodales nibh. Ut tincidunt ipsum a tortor accumsan viverra. Donec et eros non neque maximus sodales at in dui. Phasellus ac pulvinar lacus, vitae posuere eros. Sed placerat tristique nisl vel porta. Maecenas elementum ullamcorper ex sed aliquet.

				</div>
							
				<p class="code">
								# -*- coding: latin-1 -*-<br />
				 <br />
				longeur = 10.05 # longeur rouleau<br />
				largeur = 0.53 # largeur rouleau<br />
				 <br />
				longeur_user = float(input("entrer la longeur en m ")) # dimension piece<br />
				largeur_user = float(input("entrer la largeur en m ")) # dimension piece<br />
				hauteur_user = float(input("entrer la hauteur en m ")) # dimension piece<br />
				 <br />
				nombre_de_bandes_par_rouleau = longeur//hauteur_user<br />
				print("le nombre de bandes par rouleaux est : ", nombre_de_bandes_par_rouleau)<br />
				 <br />
				perimetre = longeur * largeur   # calcul perimètre de la pièce<br />
				print("le périmètre de la pièce est : ", perimetre)<br />
				 <br />
				bandes_requises = perimetre / largeur<br />
				print("le nombre total de bandes est : ", bandes_requises)<br />
				 <br />
				rouleaux_requis = bandes_requises // nombre_de_bandes_par_rouleau<br />
				print("le nombre total de rouleaux est : ", rouleaux_requis)<br />
			</p>
			<ul class="download">
				<a href="#"><li>Telecharger exemple</li></a><!--
				--><a href="#"><li>Telecharger reponse</li></a>
			</ul>
			<p class="online">Mis en ligne le 17 Janvier 2014 a 18h13 par Antecs</p>
		</section>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="base.js"></script>
	</body>
</html>