<!DOCTYPE html>
<html>
<head>

    <!-- General Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  <!-- Force Latest IE rendering engine -->
    <title>Login Form</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
    
    <!-- Stylesheets -->
    {% stylesheets filter='cssrewrite'
        'bundles/eliastre100user/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
</head>
<body>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="notice">
                <a href="" class="close">close</a>
                <p class="warn">{{ message|trans({}, 'FOSUserBundle') }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_errors  %}
    {% endblock %}

    <div class="container">
        {% block fos_user_content %}
            {# Content's block #}
        {% endblock fos_user_content %}
    </div>

    <!-- JS  -->
    {% javascripts '@Eliastre100UserBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>