Add modal will be add in a futur commit
<select id="step1" onchange="loadStep('1');">
	<option selected disabled>Choose an action</option>
	<option value="{{ path('eliastre100_python_actions_add', { 'step': '2'} ) }}"" >Add Tp</option>
</select>
<div id="modal2">
</div>